.signInScreen{
        
        
    background: rgba(0, 0, 0, 0.85);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    position: fixed;
    bottom: 50px;


}
@media screen and (max-width:768px){
    .signInScreen{
        
        
        background: rgba(0, 0, 0, 0.85);
        width: 40%;
        
        padding: 70px;
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        bottom: 50px;


    }
    .signInScreen>form{
        display: grid;
        flex-direction: column;
    }
    .signInScreen>form>input{
        height: 40px;
        border-radius: 5px;
        outline-width:0 ;
        margin-bottom: 14px;
        border: none;
        padding: 5px 15px;
    }
    .signInScreen>form>button{
        background-color: rgb(251, 29, 29);
        border: none;
        font-size: 2rem;
        color: white;
        border-radius: 5px;
        font-family: sans-serif;
        font-weight: bolder;
    }

}    
.signInScreen>form{
    display: grid;
    flex-direction: column;
}
.signInScreen>form>input{
    height: 40px;
    border-radius: 5px;
    outline-width:0 ;
    margin-bottom: 14px;
    border: none;
    padding: 5px 15px;
}
.signInScreen>form>button{
    background-color: rgb(185, 37, 37);
    border: none;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.signInScreen>form>button:hover{
    background-color: red;
    color: white;
}
.SignInsignUp>h4{
    text-align: left;
    margin-top: 30px;

}
.curserPoint{
    cursor: pointer;
    
}
.curserPoint:hover{
    margin-top: 10px;
    text-decoration: underline solid 5px white;
}
.grey{
    color: gray;
}