.loginScreen{
    background:url("https://wallpapercave.com/wp/wp6581315.jpg")
    no-repeat center;
    background-size:cover ;
    
  
}
.logo{
    width: 150px;
    padding-top: 30px;
    padding-left: 30px;
    cursor: pointer;
    position: fixed;
}
.signIn{
    position: fixed;
    right: 30px;
    background-color: red;
    border: 0px white solid;
    width: 90px;
    height: 50px;
    border-radius: 3px;
    top: 30px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}
.loginGradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0,0.8)0,
        rgba(0, 0, 0,0) 60%,
        rgba(0, 0, 0,0.8)100%
    );
}
.loginDiv{
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    padding: 20px;
    top:30%;
    left: 25%;
}
.loginDiv>form{
    width: 100%;
}
.loginDiv>form>input{
    padding: 10px;
    height: 20px;
    width: 60%;
}
.loginDiv>h2{
    
    font-weight: 300;
}
.loginDiv>h3{
    
    font-weight: 300;
}
.loginDiv>form>button{
    height: 45px;
    border: none;
    background-color: red;
    color: white;
    width: 30%;
    border-radius: 5px;
    font-weight: 600;
}