
.planScreenPlans{

    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}
.planScreenPlans:hover{
    opacity: 1;
}
.planScreenPlans button{
    width: 100px;
    height: 50px;
    margin-top:10px ;
    padding: 10px 20px;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.planDisabled{
    border: .2px white solid;
    padding-left: 10px;
}
.planDisabled button{
    background-color: gray ;
}
