.profile{
    background-color: black;
    
    color: white;

}
.profileBody{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
    position: relative;
    bottom: 100px;

}
.profileDetails{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profileSignOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: wheat;
    background-color: red;
    border: none;
    font-weight: 600;
    cursor: pointer;

}

.profileDetails>h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}
.profileBody>h1{
    font-size: 50px;
    font-weight: 400;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.profileInfo{
    display: flex;
}
.avatar2{
    height: 100px;

}