.logoImage {
  top: 0;
  width: 200px;
  height: 50px;
  margin-left: 30px;
  position: fixed;
  top:30px; 
  cursor: pointer;
  
}
.navbarDesign{
    display: flex;
    justify-content: space-between;
}
.navBarBlack{
   
    background-color: black;
    
}
.navBar {
    height: 70px;
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    
    z-index: 1;
    /*Animation*/
    transition-timing-function:ease-in ;
    transition: all 0.5s;
  
  
}
.avatar {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  cursor: pointer;
  top: 40px;
  
}
