.rowImage{
    max-height: 200px;
    
    margin-right: 10px;
    
    transition: transform 450ms;
    border: 2px solid white;
    border-radius: 30px;
}
.insideRow{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    
}

.rowImage:hover{
    transform: scale(1.08);
    opacity: 1;
}
.insideElement{
    cursor: pointer;
}
.insideRow::-webkit-scrollbar{
    display: none;
}
.rowImageLarge{
    max-height: 300px;
}
.rowName{
    overflow: hidden;
    padding-left: 10px;
    color: white;
    width: 200px;
    height: 50px;
    position: relative;
    padding-top: 10px;    
    
    font-family:'Times New Roman', Times, serif Verdana, Geneva, Tahoma, sans-serif;
    border: 0px black dashed;
    border-radius: 100px;
    overflow: visible ;
    overflow-wrap: inherit;
    
    text-align :center;
    font-size: 100;
    opacity: 2;

    
}
.rowName:hover{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    transform: scale(1.2);
    opacity: 1;

    
    font-size: large;
    text-decoration: underline;

}