.banner{
    height: 670px;
    position: relative;
    color: white;
    object-fit: contain;
}
.bannerContent{
    margin-left: 30px;
    padding-top: 140px;
    height: 250px;
    padding-bottom: 0.3 rem;
}
.bannerDescription{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}
.button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color:rgba(51, 51, 51,0.5);
    padding-bottom: 0.5rem;
}
.faddedBottom{
    height: 7.4rem;
    margin-top: 170px;
    background-image: linear-gradient(120deg,transparent,rgba(31,31,31,0.5),#111);
    
}
.button:hover{
    color: black;
    background-color: #e6e6e6;
    transition: all 0.5s;
}